
/ {
	leds {
		compatible = "gpio-leds";
		buzzer: buzzer {
			gpios = <&gpio0 28 (GPIO_PULL_DOWN | GPIO_ACTIVE_HIGH)>;
			label = "Buzzer Output";
		};
	};

	aliases {
		// Outputs
		buzzer = &buzzer;
	};
};

&spi1 {
	compatible = "nordic,nrf-spi";
	status = "okay";
	pinctrl-0 = <&spi1_default>;
	pinctrl-1 = <&spi1_sleep>;
	pinctrl-names = "default", "sleep";
	cs-gpios = <&gpio0 3 GPIO_ACTIVE_LOW>;
};
